<div class="row margin-bottom">
  <h3><%= @installation.name %></h3>

  <h4><%= t(".files_changed") %>:</h4>
  <div>
    <% @installation.files_changed.each do |filename| %>
      <div><%= filename %></div>
    <% end %>
  </div>
  <br/>

  <div>
    <%= link_to t(".changes_in_github"), 
                @installation.diff_url, target: :_blank %>
  </div>
</div>

<div class="row margin-bottom">
  <%= link_to t(".all_installations"), installations_path %>
</div>